$color-text: #293241; // buy button, buy text
$color-background: #e0fbfc; //nagłówek, , kolor tekstu w kolumnach
$color-alert: #ee6c4d; //span, text, h2
$color-skyblue: #d1e4ef; // header
$color-darkblue: #3d5a80;